@charset "UTF-8";

body{
	background-color:  #ffa658;
	color:#09195c;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    text-align: center;
}

h1{
  background: linear-gradient(transparent 60%, yellow 30%);
      display: inline-block;
  

}